* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.avatar {
    height: 12vw;
    width: 12vw;
    border-radius: 100%;
    border: solid 8px white;
    margin-top: -6.5vw;
    min-height: 150px;
    min-width: 150px;

}

.main-info {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 36vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    min-width: 300px;
}

.nickname {
    color: white;
    margin-top: 16px;
    font-family: verdana;
    font-size: 100%;
}

.contacts {
    color: white;
    font-family: verdana;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 80%;
}

.description {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    width: 36vw;
    border-radius: 2vw;
    margin-top: 24px;
    color: white;
    font-family: verdana;
    font-size: 1.7vw;
    min-width: 300px;
}

.icon {
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}

.about-me {
    margin-top: 18px;
    margin-left: 54px;
    font-size: 1vw;
}

.about-me-text {
    margin-left: 54px;
    margin-top: 6px;
    margin-bottom: 16px;
    width: 80%;
    font-size: 14px;
}

.game-img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
    object-fit: cover;
    margin-top: -30px;
    border: 8px double;
}

.game {
    margin-top: 50px;
    width: 200px;
    border-radius: 30px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-text {
    color: white;
    font-family: verdana;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
}

.interests {
    display: flex;
    width: 46VW;
    justify-content: space-between;
    flex-flow: row wrap;
}

.interesting-text {
    color: black;
    font-family: Verdana;
    font-size: 24px;
    margin-top: 24px;
}

.interesting-img {
    width: 550px;
    height: 350px;
    background: url('Web/Portfolio/Артём/images/ad1.jpg');
    background-size: cover;
    border-radius: 30px;
    margin-top: 20px;
    animation: slide 16s infinite;
    font-size: 1vw;
}

@keyframes slide {
    25% {
        background-image: url('Web/Portfolio/Артём/images/ad1.jpg')
    }
    50% {
        background-image: url('Web/Portfolio/Артём/images/ad2.jfif')
    }
    75% {
        background-image: url('Web/Portfolio/Артём/images/ad3.jfif')
    }
    100% {
        background-image: url('Web/Portfolio/Артём/images/ad4.gif')
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.normal-font {
    font-weight: normal;
    margin: 20px;
}

@media screen and (max-width: 400px) {
    .game-text {
        font-size: 14px;
    }

    .about-me {
        font-size: 16px
    }
}

@media screen and (max-width: 800px) {
    .avatar {
        margin-top: -85px;
    }
}

